body{
    background-color: #fff3cd;
}

hr{
  width: 30%;
  border-style: none;
  border-top-style: dotted;
  border-color:#ffc38b;
  border-width: 5px;
  width: 5%;
}

h1{
 color: #4d3e3e
}

h3{
color: #4d3e3e;
}