body{
    color: #4d3e3e;
    background-color: #fff3cd;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 20px;
}

.light-div{
    padding-top: 40px;
    padding-bottom: 40px;
}

.brown-div{
    background-color: #4d3e3e;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1{
    margin: 0px auto 20px auto;
    color: #ff926b;
    font-size: 100px;
}

h3{
    color: #4d3e3e;
    font-size: 35px;
    margin: 70px auto 70px auto;
}

.h3-light{
    color: #ffc38b;
    font-size: 35px;
    margin: 60px auto 40px auto;
}

.h3-coral{
    color: #ff926b;
    font-size: 35px;
    margin: 40px auto 40px auto;
}

p{
    color:#4d3e3e;
    width: 600px;
    margin: 30px auto 30px auto;
}

.p-coral{
    color:#FF926B;
}

table{
    color: #ff926b;
    margin: 60px auto 60px auto;
}

.wonton-div{
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    text-align: left;
}

.wonton-soup-picture{
    padding: 30px;
    width: 40%;
    float: left;
    margin-right: 30px;
}

hr{
    border-color:#ff926b;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 4%;
    margin: 40px auto 40px auto;
}

.hr-light{
    border-color:#ffc38b;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 4%;
    margin: 40px auto 40px auto;
}

.BUTTON_AVV {
    background: #FF926B;
    background-image: -webkit-linear-gradient(top, #FF926B, #FF926B);
    background-image: -moz-linear-gradient(top, #FF926B, #FF926B);
    background-image: -ms-linear-gradient(top, #FF926B, #FF926B);
    background-image: -o-linear-gradient(top, #FF926B, #FF926B);
    background-image: -webkit-gradient(to bottom, #FF926B, #FF926B);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: Verdana;
    width: 273px;
    font-size: 35px;
    font-weight: 100;
    padding: 30px;
    border: solid #FF926B 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 30px;
}
 
.BUTTON_AVV:hover {
    border: solid #FFC38B 1px;
    background: #FFC38B;
    background-image: -webkit-linear-gradient(top, #FFC38B, #FFC38B);
    background-image: -moz-linear-gradient(top, #FFC38B, #FFC38B);
    background-image: -ms-linear-gradient(top, #FFC38B, #FFC38B);
    background-image: -o-linear-gradient(top, #FFC38B, #FFC38B);
    background-image: -webkit-gradient(to bottom, #FFC38B, #FFC38B);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

ul{
    display: inline-block;
    text-align:left;
}

#container {
        
    max-width: 300px;

    /* Center the container in middle on horizontal axis */
    margin: 0 auto;

    /* Add empty space above the container (20% of the view height) */
    margin-top: 20vh;
}

.card-img{
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

#container {
    
    max-width: 300px;

    /* Center the container in middle on horizontal axis */
    margin: 0 auto;

    /* Add empty space above the container */
    margin-top: 10vh;
}

.card {
    background-color: #fff3cd;
    border: 5px solid #FF926B;
    padding: 8px;
    border-radius: 12px;
}

.card__details {
/* Add space around the details */
    padding: 16px 8px 8px 8px;
}

.rating {
    padding: 4px 8px;
    border: 1px solid #FF926B;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
  }

/* Style div elements that have class equal to name */
.noodle-name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

.card-description {
    font-size: 14px;
    color: #4d3e3e;
    line-height: 150%;
    width: 200px;
}

/* Style button element */
button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;

    font-weight: 600;
    color: #fff3cd;
    background-color: #FF926B;

/* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
    margin: 0 auto;
    display: block;

/* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;   
}

  /* Add style when button is focused or hovered */
button:focus,
button:hover {
  background-color: #FF926B;
  color: #4d3e3e;
}