body{
    background-color: #fff3cd;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 20px;
}

.brown-display{
    background-color: #4d3e3e;
    padding-top: 40px;
    padding-bottom: 40px;
}

.h3-light{
    color: #ffc38b;
    font-size: 35px;
    margin: 60px auto 40px auto;
}

.brag{
    margin-top: 80px;
    margin-bottom: 80px;
}

h1{
    margin: 0px auto 0px auto;
    color: #ff926b;
    font-size: 100px;
}

h3{
    color: #4d3e3e;
    font-size: 35px;
    margin: 70px auto 70px auto;
}

p{
    color:#4d3e3e;
    width: 600px;
    margin: 30px auto 30px auto;
}

table{
    color: #ff926b;
    margin: 60px auto 60px auto;
}

.wonton{
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    text-align: left;
}

.wonton-soup{
    padding-right: 30px;
    width: 40%;
    float: left;
    margin-right: 30px;
}

hr{
    border-color:#ff926b;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 4%;
    margin: 80px auto 80px auto;
}

.hr-2{
    border-color:#ffc38b;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 4%;
    margin: 40px auto 40px auto;
}

.BUTTON_AVV {
    background: #FF926B;
    background-image: -webkit-linear-gradient(top, #FF926B, #FF926B);
    background-image: -moz-linear-gradient(top, #FF926B, #FF926B);
    background-image: -ms-linear-gradient(top, #FF926B, #FF926B);
    background-image: -o-linear-gradient(top, #FF926B, #FF926B);
    background-image: -webkit-gradient(to bottom, #FF926B, #FF926B);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: Verdana;
    width: 273px;
    font-size: 35px;
    font-weight: 100;
    padding: 30px;
    border: solid #FF926B 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 30px;
 }
 
 .BUTTON_AVV:hover {
    border: solid #FFC38B 1px;
    background: #FFC38B;
    background-image: -webkit-linear-gradient(top, #FFC38B, #FFC38B);
    background-image: -moz-linear-gradient(top, #FFC38B, #FFC38B);
    background-image: -ms-linear-gradient(top, #FFC38B, #FFC38B);
    background-image: -o-linear-gradient(top, #FFC38B, #FFC38B);
    background-image: -webkit-gradient(to bottom, #FFC38B, #FFC38B);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 ul{
    display: inline-block;
    text-align:left;
 }

 .orange-p{
    color:#FF926B;
 }

 .brown-p{
    color: #4d3e3e;
 }